body {
	background-color: #eee;
}

header {
	margin-bottom: 10px;
	background-color: #eed;
}

header img {
    margin: 0;
    width: 120px;
    height: 100px;
}

#mapid {
	margin: 0;
    height: 400px;
}


ul#init {
    display: inline-block;
	float: right;
    list-style-type: none;
}

ul#init li {
    float: right;
}

ul#init li form {
    display: block;
    color: black;
	background-color: #000;
    text-align: center;
    text-decoration: none;
}

ul#init input {
	background-color: #eed;
	color: black;
	border: none;
	height: 60px;
	width: 70px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}


.profile {
    float: right;
    display: inline-grid;
}

.dropdown:after {
    float: inherit;
    position:absolute;
    right: 10px;
    top: 10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000000;
}

.dropdown {
    text-align: center;
    float: inherit;
    top: 50px;
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    right: 0;
    min-width: 200px;
    min-height: 120px;
    border-radius: 10px;
}

.show {
    display: block;
}
