html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
}

#init {
	margin: 0;
	padding: 0;
    display: inline-block;
	float: right;
    list-style-type: none;
}

#init li {
    float: right;
}

#init li form {
    display: block;
    text-decoration: none;
}

#init input {
	border-radius: 20px 0;
	background-color: orange;
	margin: 10px;
	color: white;
	border: none;
	height: 60px;
	width: 75px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}

#init li #user input[type="text"]{
	border-radius: 5px 0;
	background-color: #c0c0c0;
	color: white;
	border: none;
	height: 11px;
	width: 75px;
    text-align: center;
    display: inline-block;
    font-size: 17px;

}

input[type="submit"]{
	max-height: 30px;
	border-radius: 5px;
}

#init input[type="radio"]{
	border-radius: 20px 0;
	background-color: orange;
	color: white;
	border: none;
    text-align: center;
    display: inline;
	transform: scale(0.5);
}

.relativeMenu {
	position: relative;
	width: 0;
	height: 0;
}

header {
	list-style-type: none;
}

#wrapperInitial {
	min-height:100%;
	position: relative;
	width: 100%;
	background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#wrapperRestaurantPage{
	background-color: #52003B;
	min-height:100%;
	position: relative;
	width: 100%;
	color: white;
}

#wrapperSearchRestaurants{
	background-color: #52003B;
	min-height:100%;
	position: relative;
	width: 100%;
	color: white;
}

#content {
	padding-bottom: 25px;
}

footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

footer p {
	float: left;
}

#google_translate_element {
	width: 20em;
	margin: 12px 16px 0px 0px;
	display: inline-block;
	float: right;
}


#tab{
	margin: auto;
    list-style-type: none;
}

#tab input{
	border-radius: 20px 0;
	background-color: orange;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
	border: none;
	height: 60px;
	width: 75px;
    display: inline-block;
    font-size: 17px;
}

#formSearch {
	width: 100%;
    display: inline-block;
	text-align: center;
	margin: auto;
}

#formSearch h1 {
    color: white;
    font-size: 50px;
	text-align: center;
}

#formSearch h2 {
    color: white;
    font-size: 17px;
	text-align: center;
}

#searchBar input{
	width: 15em;
    height: 25px;
	border-radius: 5px;
	border: none;
}

#searchBar select{
	width: auto;
	height: 25px;
	border-radius: 5px;
}

#restaurantDiv{
	width: 70%;
	height: 750px;
	margin: auto;
}

#restaurantBackground{
	display: flex;
	background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	width: 100%;
	height: 250px;
	margin: auto;
	margin-top: 20px;
}

#restaurantNameScore{
	display: inline-block;
	margin-top: auto;
	width: 100%;
	height: 40%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	text-align: center;
}

.restaurantName{
	margin: 40px 0px 0px 10px;
	float: left;
}

.avg{
	margin: 40px 10px;
	float: right;
}

#restaurantInfo input{
	display: table;
	border-radius: 20px;
	border-color: orange;
	border-width: 3px;
	background-color: white;
	color: black;
	text-align: center;
	height: 60px;
	width: 20%;
	padding: 0;
	margin-top: 40px;
	font-weight: bold;
}

.box {
    text-align: center;
    float: inherit;
	z-index: 999;
    position:absolute;
    overflow: auto;
	margin: auto;
	display: inline;
	border-radius: 20px;
	background-color: white;
	color: black;
	height: 400px;
	width: 65%;
	margin: 40px 0px 0px 0px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#restaurantsResult{
	height: 700px;
	width: 100%;
}

#restaurantsIndividuals{
	width: 65%;
	float:right;
	height: auto;
	margin: auto;
	list-style-type: none;
	border-radius: 20px;
	background-color: white;
	color: black;
	text-align: center;
	padding: 0;
	margin-top: 20px;
	margin-right: 300px;
}

#restaurantsIndividuals li{
	padding: 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
	font-size: 15px;
	font-weight: bold;
}

.border{
	width: 80%;
    height: 5px;
    margin: 5px auto;
    background: rgba(255,140,0, 0.7);
    background: -webkit-radial-gradient(center, 40% 40px, rgba(255,140,0, 1), rgba(255, 255, 255, 0));

}

#mapid {
	margin: 0;
    height: 400px;
}

.style_button {
	background-image: url('../images/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
	background-position: 20px 7px;
	border-radius: 20px 0;
	background-color: orange;
	display: inline-block;
	text-align: center;
	border: none;
	height: 30px;
	width: 60px;
	margin: 10px;
}

.profile {
    float: right;
	left: 10px;
    display: inline-grid;
}

.dropdown:after {
    float:none;
    position:absolute;
    right: 30px;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #c0c0c0;
}

.dropdown {
    text-align: center;
    float: inherit;
	z-index: 999;
    top: 10px;
    position:absolute;
    display: none;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    right: -85px;
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
}

.show {
    display: inline-table;
}

.sign{
	max-height: 20px;
	min-width: 200px;
}

.userType{
	transform: scale(2);
	display:inline;
}

.restaurant{
	background-color: #000000;
}

.parameters{
	background-color: #c0c0c0;
	border-radius: 10px;
	float: left;
	height: auto;
	max-width: 200px;
	min-width: 175px;
	min-height: 120px;
	margin: auto;
}

#categories{
	padding: 25px 0px 25px 25px;
	display: table;
	margin-bottom: 10px;
}

#amount{
	border-radius: 10px;
	border: none;
	height: 20px;
	width: 100px;
	margin: 0px 40px 10px 40px;
	text-align: center;
}

#priceHandle{
	background-color: orange;
	border-radius: 20px 20px 20px 20px;

}

#alo{
	background-color: orange;
	border-radius: 20px 20px 20px 20px;
}
.ui-slider-handle {
	text-align: center;
	border-radius: 48px;
	background-color: #000;
}

.picture{
	border-radius: 50%;
	margin-top: 10px;
}
