html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
}

#init {
	margin: 200px 500px;
	padding: 0;
    display: inline;
	list-style-type: none;
}

.headerTabLeft{
	margin-right:80%;
	margin-left: 25px;
}

.headerTabRight{
	margin-right:1%;
}

.headerTabMiddle{
	margin-left: 55%;
	margin-right:50%;
}

#init li {
    float: right;
}

#init input {
	border-radius: 25px;
	background-color: #A52A2A;
	border: none;
	margin: 10px;
	color: white;
	height: 60px;
	width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}

#init input.sign{
	width: 300px;
}

#init li #user input[type="text"]{
	border-radius: 5px;
	background-color: #c0c0c0;
	color: white;
	border: none;
	height: 11px;
	width: 75px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}

input[type="submit"]{
	max-height: 30px;
	border-radius: 5px;
	max-width: 50%;
}

#init input[type="radio"]{
    text-align: center;
    display: inline;
	transform: scale(0.7);
}

.radioLabel label{
	float: left;
}

.radioLabel{
	white-space: nowrap;
}

.relativeMenu {
	position: relative;
	width: 0;
	height: 0;
}

header {
	list-style-type: none;
}

#wrapperInitial {
	min-height:100%;
	position: relative;
	width: 100%;
	background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#wrapperRestaurantPage{
	background-color: #DCDCDC;
	min-height:100%;
	position: relative;
	width: 100%;
	color: white;
}

#wrapperSearchRestaurants{
	background-color: #52003B;
	min-height:100%;
	position: relative;
	width: 100%;
	color: white;
}

#content {
	padding-top: 5%;
	padding-bottom: 25px;
}

footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

footer p {
	float: left;
}

#google_translate_element {
	width: 20em;
	margin: 12px 16px 0px 0px;
	display: inline-block;
	float: right;
}


#tab{
	margin: auto;
    list-style-type: none;
	height: 75px;
}

#tab input{
	border-radius: 25px;
	background-color: #A52A2A;
	border-color: #000;
	border: none;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
	height: 60px;
	width: 75px;
    display: inline-block;
}

#formSearch {
	width: 100%;
    display:inline-block;
	text-align: center;
	margin: auto;
}

#formSearch h1 {
    color: white;
    font-size: 40px;
	text-align: center;
}

#formSearch h2 {
    color: white;
    font-size: 20px;
	text-align: center;
}

#searchBar input{
	width: 17.5em;
    height: 30px;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	margin: 15px;
}

#restaurantDiv{
	width: 70%;
	height: 900px;
	margin: auto;
}

#restaurantBackground{
	display: flex;
	background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	width: 100%;
	height: 250px;
	margin: auto;
	margin-top: 20px;
}

#restaurantNameScore{
	display: inline-block;
	margin-top: auto;
	width: 100%;
	height: 40%;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	text-align: center;
}

.restaurantName{
	margin: 40px 0px 0px 10px;
	float: left;
}

.avg{
	margin: 40px 10px;
	float: right;
}

#column1, #column2 {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 10px 2%;
	font-weight: bold;
}

#menuDiv {
	margin-top: 10px;
	font-weight: bold;
}

#photosDIV {
	margin-top: 10px;
	font-weight: bold;
}

#reviewsDiv {
	margin-top: 10px;
	font-weight: bold;
}

#restaurantInfo input{
	display: table;
	border-radius: 20px;
	border-width: 3px;
	background-color: white;
	color: black;
	text-align: center;
	height: 60px;
	width: 80%;
	padding: 0;
	margin-top: 40px;
	font-weight: bold;
}

#restaurantInfo input:active{
	display: table;
	border-radius: 20px;
	border-color: #A52A2A;
	border-width: 3px;
	background-color: white;
	color: black;
	text-align: center;
	height: 60px;
	width: 80%;
	padding: 0;
	margin-top: 40px;
	font-weight: bold;
}

#restaurantInfo input:focus{
	display: table;
	border-radius: 20px;
	border-color: #A52A2A;
	border-width: 3px;
	background-color: white;
	color: black;
	text-align: center;
	height: 60px;
	width: 80%;
	padding: 0;
	margin-top: 40px;
	font-weight: bold;
}

.infoOptions{
	float: left;
	min-width: 25%;
	margin-top: 50px;
}

.box {
    text-align: center;
    float: right;
	z-index: 999;
    position:none;
    overflow: auto;
	display: none;
	border-radius: 20px;
	background-color: white;
	color: black;
	height: 480px;
	width: 65%;
	margin: 30px 20px 30px 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#restaurantsResult{
	height: 700px;
	width: 100%;
}

#restaurantsIndividuals{
	width: 65%;
	float:right;
	height: auto;
	margin: auto;
	list-style-type: none;
	border-radius: 20px;
	background-color: white;
	color: black;
	text-align: center;
	padding: 0;
	margin-top: 20px;
	margin-right: 300px;
}

#restaurantsIndividuals li{
	padding: 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
	font-size: 15px;
	font-weight: bold;
}

.border{
	width: 80%;
    height: 5px;
    margin: 5px auto;
    background: rgba(165, 42, 42 ,0.7);
    background: -webkit-radial-gradient(center, 40% 40px, rgba(165, 42, 42, 1), rgba(255, 255, 255, 0));

}

#mapid {
	margin: 1%;
    height: 650px;
}

#searchBar .style_button {
	background-image: url('../images/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
	background-position: 20px 7px;
	border-radius: 25px;
	background-color: #A52A2A;
	display: block;
	text-align: center;
	border: none;
	height: 30px;
	width: 60px;
	margin: auto;
}

.profile {
    float: right;
	left: 10px;
    display: inline-grid;
}

.dropdown:after {
    float:none;
    position:absolute;
    right: 30px;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #c0c0c0;
}

.dropdown {
    text-align: center;
    float: inherit;
	z-index: 999;
    top: 10px;
    position:absolute;
    display: none;
    background-color: #c0c0c0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    right: -85px;
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
}

.show {
    display: inline-table;
}

.sign {
	max-height: 20px;
	max-width: 200px;
}

.userType{
	/*transform: scale(1);*/
	/*display:inline;*/
	/*width: 10%;*/
	float: left;
	position:sticky;
}

.restaurant{
	background-color: #000000;
}

.parameters{
	background-color: #c0c0c0;
	border-radius: 10px;
	float: left;
	height: auto;
	max-width: 200px;
	min-width: 175px;
	min-height: 120px;
	margin: auto;
}

#categories{
	padding: 25px 0px 25px 25px;
	display: table;
	margin-bottom: 10px;
}

#amount{
	border-radius: 10px;
	border: none;
	height: 20px;
	width: 100px;
	margin: 0px 40px 10px 40px;
	text-align: center;
}

#priceHandle{
	background-color: #A52A2A;
	border-radius: 20px 20px 20px 20px;

}

#alo{
	background-color: #A52A2A;
	border-radius: 20px 20px 20px 20px;
}
.ui-slider-handle {
	text-align: center;
	border-radius: 48px;
	background-color: #000;
}

.picture{
	border-radius: 50%;
	margin-top: 10px;
}

.top5{
	float: left;
	min-width: 20%;
	min-height: 25%;
	background-color: #b1b1b1;
	border-radius: 25px;
	margin-left: 4%;
}

table{
	margin: 0 auto;
}

.rank{
	text-align:center;
	text-shadow: 100px;
}

span.stars, span.stars span {
    display: block;
    background: url("../images/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
