html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#init {
	margin: 0;
	padding: 0;
    display: inline-block;
	float: right;
    list-style-type: none;
	font-family: arial;
}

#init li {
    float: right;
}

#init li form {
    display: block;
    text-decoration: none;
}

#init input {
	border-radius: 20px 0;
	background-color: orange;
	margin: 10px;
	color: white;
	border: none;
	height: 60px;
	width: 75px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}

#init li #user input[type="text"]{
	border-radius: 5px 0;
	background-color: #c0c0c0;
	color: white;
	border: none;
	height: 11px;
	width: 75px;
    text-align: center;
    display: inline-block;
    font-size: 17px;

}

input[type="submit"]{
	max-height: 30px;
	border-radius: 5px;
}

#init input[type="radio"]{
	border-radius: 20px 0;
	background-color: orange;
	color: white;
	border: none;
    text-align: center;
    display: inline;
	transform: scale(0.5);
}

.relativeMenu {
	position: relative;
	width: 0;
	height: 0;
}

header {
	list-style-type: none;
}

#wrapperInitial {
	min-height:100%;
	position: relative;
	width: 100%;
	background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#wrapperRestaurantPage{
	background-color: #52003B;
	min-height:100%;
	position: relative;
	width: 100%;
	position: relative;
    z-index: -1;
	color: white;
}

#content {
	padding-bottom: 25px;
}

footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

footer p {
	float: left;
}

#google_translate_element {
	width: 20em;
	margin: 12px 16px 0px 0px;
	display: inline-block;
	float: right;
}


#tab{
	margin: auto;
    list-style-type: none;
}

#tab input{
	border-radius: 20px 0;
	background-color: orange;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
	border: none;
	height: 60px;
	width: 75px;
    display: inline-block;
    font-size: 17px;
}

#form_search {
	width: 100%;
    display: inline-block;
	text-align: center;
	margin: auto;
}

#form_search h1 {
    color: white;
    font-size: 50px;
	font-family: arial;
	text-align: center;
}

#form_search h2 {
    color: white;
    font-size: 17px;
	font-family: arial;
	text-align: center;
}

#search_bar input{
	width: 15em;
    height: 20px;
}

#search_bar select{
	width: 7em;
	height: 25px;
}

#restaurantBackground{
	display: flex;
	background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	width: 70%;
	height: 250px;
	margin: auto;
}

#restaurantNameScore{
	display: inline-block;
	margin-top: auto;
	width: 100%;
	height: 40%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.restaurantName{
	margin: 40px 0px 0px 10px;
	float: left;
}

.avg{
	margin: 40px 10px;
	float: right;
}

#mapid {
	margin: 0;
    height: 400px;
}

.style_button {
	background-image: url('../images/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
	background-position: 20px 7px;
	border-radius: 20px 0;
	background-color: orange;
	display: inline-block;
	text-align: center;
	border: none;
	height: 30px;
	width: 60px;
	margin: 10px;
}

.profile {
    float: right;
	left: 10px;
    display: inline-grid;
}

.dropdown:after {
    float:none;
    position:absolute;
    right: 30px;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #c0c0c0;
}

.dropdown {
    text-align: center;
    float: relative;
	z-index: 999;
    top: 10px;
    position:absolute;
    display: none;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    right: -85px;
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
}

.show {
    display: inline-table;
}

.sign{
	max-height: 20px;
	min-width: 200px;
}

.userType{
	display:inline;
}

.restaurant{
	background-color: #000000;
}
